---
layout: base.njk
---

{% set labelNames = {
  "trail-notes": "Trail Notes",
  "mile-markers": "Mile Markers"
} %}

<article class="post">
  <header class="post-header">
    {% if label %}
    <a class="post-label" href="/{{ label }}/">{{ labelNames[label] }}</a>
    {% endif %}
    <h1 class="post-title">{{ title }}</h1>
    <time class="post-date" datetime="{{ page.date | htmlDateString }}">
      {{ page.date | readableDate }}
    </time>
  </header>

  <div class="post-content">
    {{ content | safe }}
  </div>
</article>
